:root {
  font-family: 'Philosopher', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #333;
  background-color: #f4f7fa;
}

body {
  margin: 0;
  padding: 0;
  min-width: 100%;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}
